version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: restaurant_db
    environment:
      POSTGRES_USER: goodboicarti
      POSTGRES_PASSWORD: '!@#$%^&'
      POSTGRES_DB: restaurant_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
